h1{
	color: rgb(243, 14, 33);
	font-size: 70px;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	background-color: rgba(226, 214, 214, 0.3);
}

body{
	background-image: url("img.jpg");
}

#as{
	background-color: brown;
	width: 150px;
	text-align: left;
}

#bs{
	background-color: white;
	width: 150px;
	text-align: right;
}

